p, h1, h2, h3 {  margin:0;  }
img {  width:100%;  }
.bg-ccc {background-color: #ecebeb;}
.border-ccc {border-color:#ccc}
.bg-btn {background-color: #ed6c00;}
.font-10 {font-size:10px;}
.font-16 {font-size:16px;}
.mt4em {margin-top:4em;}
