html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;  font-weight: 400;
  background: #fff;  color: #444;
  margin: 0;  padding: 0;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

a {  text-decoration: none;  }
input, textarea, a {  outline: none!important;  }
.line-through {  text-decoration: line-through;  }

@media (max-width: 320px) {  html, body {  font-size: 14px;  }  }
@media (min-width: 321px) and (max-width: 375px) {  html, body {  font-size: 15px;  }  }
@media (min-width: 376px) and (max-width: 425px) {  html, body {  font-size: 16px;  }  }
@media (min-width: 426px) {  html, body {  font-size: 16px;  }  }

@-webkit-keyframes spinning { 0% {  -webkit-transform: rotate(0deg);  } 100% {  -webkit-transform: rotate(359deg)  } }
@keyframes spinning { 0% {  transform: rotate(0deg);  } 100% {  transform: rotate(359deg);  } }
.spinning {
  -webkit-animation: spinning 2s infinite linear;
  animation: spinning 2s infinite linear;
  display: inline-block;
}

.border, .border-top, .border-bottom, .border-left, .border-right {  border-color: #eee;  }
.bg-white {  background: #fff;  }
.bg-silver {  background: #eee!important;  }
.bg-grey {  background: #ccc!important;  }
.bg-orange {  background: #ff8a00;  }
.bg-green {  background: #a4d424;  }
.orange {  color: #ff8a00;  }
.green {  color: #a4d424;  }
.white {  color: #fff;  }
.silver {  color: #aaa;  }
.grey {  color: #777;  }
.dark {  color: #444;  }

img.avatar {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
